
@using FTSearchWeb.Model

@model SearchResult

@{
    ViewBag.Title = "BH - Search in WS logs";
}

<!--
<div class="jumbotron">
    <p class="lead"></p>
</div>
-->

<div class="row">
    <div class="col-md-4">
        <h2>Search In Logs</h2>
        <hr />
        <p>
            <table border="0">
                <tr>
                    <td>
                        @using (Html.BeginForm("Search", "Home"))
                        {
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td nowrap valign="top">
                                        Search text:&nbsp;
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Phrase)
                                        @Html.ValidationMessageFor(model => model.Phrase, null, new { @class = "text-danger" })
                                    </td>
                                    <td nowrap valign="top">
                                        &nbsp;<input type="submit" value="Search" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="height:5px;"></td>
                                </tr>
                                <tr>
                                    <td nowrap valign="top">
                                        Name contains:&nbsp;
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.TemplateName)
                                        @Html.ValidationMessageFor(model => model.TemplateName, null, new { @class = "text-danger" })
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                @if (Model.Results != null)
                {
                    if (Model.Results.Length > 0)
                    {
                        foreach (FTSearchWeb.BH.FTSearchResult res in Model.Results)
                        {
                            <tr>
                                <td nowrap>
                                    <a href="?f=@Url.Encode(res.Name)&t=@Model.Phrase&tn=@Model.TemplateName"><span>@res.Name</span></a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>

                        if (Model.Results.Length >= SearchResult.PAGE_SIZE)
                        {
                            <tr>
                                <td nowrap>
                                    <span>
                                        @if (Model.StartPage > 1)
                                        {
                                            <a href="?sp=@(Model.StartPage - SearchResult.PAGE_SIZE)&cp=@(Model.StartPage - SearchResult.PAGE_SIZE)&t=@Model.Phrase&tn=@Model.TemplateName">&lt;&lt;&lt;</a><span>&nbsp;</span>
                                        }

                                        @for (int page = Model.StartPage; page < Model.StartPage + SearchResult.PAGE_SIZE; page++)
                                        {
                                            if (page != Model.CurrentPage)
                                            {
                                                <a href="?sp=@(Model.StartPage)&cp=@page&t=@Model.Phrase&tn=@Model.TemplateName">@(page.ToString("00"))</a><span>&nbsp;</span>
                                            }
                                            else
                                            {
                                                @(page.ToString("00"))<span>&nbsp;</span>
                                            }
                                        }
                                        <a href="?sp=@(Model.StartPage + SearchResult.PAGE_SIZE)&cp=@(Model.StartPage + SearchResult.PAGE_SIZE)&t=@Model.Phrase&tn=@Model.TemplateName">&gt;&gt;&gt;</a><span></span>
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <span>Nothing found.</span>
                            </td>
                        </tr>
                    }
                }

            </table>
        </p>
    </div>
</div>